apiVersion: "batch/v1"
kind: "Job"
metadata:
  name: "ogdc-runner.{{ recipe_id }}"
  namespace: "qgnet"
spec:
  # TODO: when completions is 1, parallelism must be 1, but do we need to specify it?
  parallelism: 1
  completions: 1
  # TODO: Supported in k8s 1.23, but ADC has 1.22; this would be nice :)
  # ttlSecondsAfterFinished: 60
  template:
    metadata:
      name: "ogdc-runner.{{ recipe_id }}"
    spec:
      serviceAccountName: "qgnet"
      automountServiceAccountToken: true
      volumes:
        # This is how the Parsl "driver" script gets to the cluster
        - name: "parsl-driver-script-volume"
          configMap:
            name: "ogdc-recipe.{{ recipe_id }}"
      containers:
        - name: "parsl-init"
          image: "ghcr.io/qgreenland-net/parsl-exploration:v0.1.1"
          volumeMounts:
            - name: "parsl-driver-script-volume"
              mountPath: "/parsl-driver-script"
          command:
            - "bash"
            - "-c"
            - "micromamba run -n base python /parsl-driver-script/parsl_driver_script.py"
      restartPolicy: "Never"
