name: "Quality checks"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "main"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

env:
  # Many color libraries just need this to be set to any value, but at least
  # one distinguishes color depth, where "3" -> "256-bit color".
  FORCE_COLOR: 3
  DATAONE_NODE_URL: "https://arcticdata.io/metacat/d1/mn"

jobs:
  test:
    name: "Check Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}"
    runs-on: "${{ matrix.runs-on }}"
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12"]
        runs-on: ["ubuntu-latest", "macos-latest", "windows-latest"]

    steps:
      - uses: "actions/checkout@v6"
        with:
          fetch-depth: 0

      - uses: "actions/setup-python@v6"
        with:
          python-version: "${{ matrix.python-version }}"
          allow-prereleases: true

      # The MacOS runner does not have the required postgresql binaries that are
      # required to `pip install` psycopg2, which is required for the API to
      # connect to the OGDC postgresql DB.
      - name: "Install Postgresql on macOS"
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install postgresql

      - name: "Install package"
        run: "python -m pip install .[test]"

      - name: "Test package"
        # prettier-ignore
        run: "nox -s test_ci"
